Client.Net/Connected Services/ServiceReference1/CovertisseurWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://webService/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="CovertisseurWS" targetNamespace="http://webService/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8282/?xsd=1" namespace="http://webService/" />
    </xsd:schema>
  </types>
  <message name="ConversionEuro-TND">
    <part name="parameters" element="tns:ConversionEuro-TND" />
  </message>
  <message name="ConversionEuro-TNDResponse">
    <part name="parameters" element="tns:ConversionEuro-TNDResponse" />
  </message>
  <message name="getAccount">
    <part name="parameters" element="tns:getAccount" />
  </message>
  <message name="getAccountResponse">
    <part name="parameters" element="tns:getAccountResponse" />
  </message>
  <message name="accountList">
    <part name="parameters" element="tns:accountList" />
  </message>
  <message name="accountListResponse">
    <part name="parameters" element="tns:accountListResponse" />
  </message>
  <portType name="BanqueService">
    <operation name="ConversionEuro-TND">
      <input wsam:Action="http://webService/BanqueService/ConversionEuro-TNDRequest" message="tns:ConversionEuro-TND" />
      <output wsam:Action="http://webService/BanqueService/ConversionEuro-TNDResponse" message="tns:ConversionEuro-TNDResponse" />
    </operation>
    <operation name="getAccount">
      <input wsam:Action="http://webService/BanqueService/getAccountRequest" message="tns:getAccount" />
      <output wsam:Action="http://webService/BanqueService/getAccountResponse" message="tns:getAccountResponse" />
    </operation>
    <operation name="accountList">
      <input wsam:Action="http://webService/BanqueService/accountListRequest" message="tns:accountList" />
      <output wsam:Action="http://webService/BanqueService/accountListResponse" message="tns:accountListResponse" />
    </operation>
  </portType>
  <binding name="BanqueServicePortBinding" type="tns:BanqueService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="ConversionEuro-TND">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getAccount">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="accountList">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="CovertisseurWS">
    <port name="BanqueServicePort" binding="tns:BanqueServicePortBinding">
      <soap:address location="http://localhost:8282/" />
    </port>
  </service>
</definitions>